In [67]:
import requests
from bs4 import BeautifulSoup
import urllib
import pandas as pd
import numpy as np
import json
from time import sleep, perf_counter as pf
import itertools as it

In [68]:
date = pd.DataFrame(pd.date_range('01/01/2015', '31/12/2017', freq='D'), columns=['Date'])
date.insert(0, 'Date_key', date.index)
display(date)

      Date_key       Date
0            0 2015-01-01
1            1 2015-01-02
2            2 2015-01-03
3            3 2015-01-04
4            4 2015-01-05
5            5 2015-01-06
6            6 2015-01-07
7            7 2015-01-08
8            8 2015-01-09
9            9 2015-01-10
10          10 2015-01-11
11          11 2015-01-12
12          12 2015-01-13
13          13 2015-01-14
14          14 2015-01-15
15          15 2015-01-16
16          16 2015-01-17
17          17 2015-01-18
18          18 2015-01-19
19          19 2015-01-20
20          20 2015-01-21
21          21 2015-01-22
22          22 2015-01-23
23          23 2015-01-24
24          24 2015-01-25
25          25 2015-01-26
26          26 2015-01-27
27          27 2015-01-28
28          28 2015-01-29
29          29 2015-01-30
...        ...        ...
1066      1066 2017-12-02
1067      1067 2017-12-03
1068      1068 2017-12-04
1069      1069 2017-12-05
1070      1070 2017-12-06
1071      1071 2017-12-07
1072      1072 2017-12-08
1073      1073 2017-12-09
1074      1074 2017-12-10
1075      1075 2017-12-11
1076      1076 2017-12-12
1077      1077 2017-12-13
1078      1078 2017-12-14
1079      1079 2017-12-15
1080      1080 2017-12-16
1081      1081 2017-12-17
1082      1082 2017-12-18
1083      1083 2017-12-19
1084      1084 2017-12-20
1085      1085 2017-12-21
1086      1086 2017-12-22
1087      1087 2017-12-23
1088      1088 2017-12-24
1089      1089 2017-12-25
1090      1090 2017-12-26
1091      1091 2017-12-27
1092      1092 2017-12-28
1093      1093 2017-12-29
1094      1094 2017-12-30
1095      1095 2017-12-31

[1096 rows x 2 columns]

In [69]:
# Add date information
date['Day_of_week'] = date.Date.dt.dayofweek
date['Year'] = date.Date.dt.year
date['Month'] = date.Date.dt.month
date['Day'] = date.Date.dt.day
date['Week'] = date.Date.dt.week
date['Weekend'] = 0
date.loc[
    (date.Day_of_week == 0) |
    (date.Day_of_week == 6),
    'Weekend'
] = 1
date['season'] = (date.Date.dt.month%12 + 3)//3
date.to_csv('datasets/final/date.csv', index=False)
display(date)

,Date_key,Date,Day_of_week,Year,Month,Day,Week,Weekend,season
0,0,2015-01-01,3,2015,1,1,1,0,1
1,1,2015-01-02,4,2015,1,2,1,0,1
2,2,2015-01-03,5,2015,1,3,1,0,1
3,3,2015-01-04,6,2015,1,4,1,1,1
4,4,2015-01-05,0,2015,1,5,2,1,1
5,5,2015-01-06,1,2015,1,6,2,0,1
6,6,2015-01-07,2,2015,1,7,2,0,1
7,7,2015-01-08,3,2015,1,8,2,0,1
8,8,2015-01-09,4,2015,1,9,2,0,1
9,9,2015-01-10,5,2015,1,10,2,0,1
10,10,2015-01-11,6,2015,1,11,2,1,1
11,11,2015-01-12,0,2015,1,12,3,1,1
12,12,2015-01-13,1,2015,1,13,3,0,1
13,13,2015-01-14,2,2015,1,14,3,0,1
14,14,2015-01-15,3,2015,1,15,3,0,1
15,15,2015-01-16,4,2015,1,16,3,0,1
16,16,2015-01-17,5,2015,1,17,3,0,1
17,17,2015-01-18,6,2015,1,18,3,1,1
18,18,2015-01-19,0,2015,1,19,4,1,1
19,19,2015-01-20,1,2015,1,20,4,0,1
20,20,2015-01-21,2,2015,1,21,4,0,1
21,21,2015-01-22,3,2015,1,22,4,0,1
22,22,2015-01-23,4,2015,1,23,4,0,1
23,23,2015-01-24,5,2015,1,24,4,0,1
24,24,2015-01-25,6,2015,1,25,4,1,1
25,25,2015-01-26,0,2015,1,26,5,1,1
26,26,2015-01-27,1,2015,1,27,5,0,1
27,27,2015-01-28,2,2015,1,28,5,0,1
28,28,2015-01-29,3,2015,1,29,5,0,1
29,29,2015-01-30,4,2015,1,30,5,0,1
...,...,...,...,...,...,...,...,...,...
1066,1066,2017-12-02,5,2017,12,2,48,0,1
1067,1067,2017-12-03,6,2017,12,3,48,1,1
1068,1068,2017-12-04,0,2017,12,4,49,1,1
1069,1069,2017-12-05,1,2017,12,5,49,0,1
1070,1070,2017-12-06,2,2017,12,6,49,0,1
1071,1071,2017-12-07,3,2017,12,7,49,0,1
1072,1072,2017-12-08,4,2017,12,8,49,0,1
1073,1073,2017-12-09,5,2017,12,9,49,0,1
1074,1074,2017-12-10,6,2017,12,10,49,1,1
1075,1075,2017-12-11,0,2017,12,11,50,1,1
1076,1076,2017-12-12,1,2017,12,12,50,0,1
1077,1077,2017-12-13,2,2017,12,13,50,0,1
1078,1078,2017-12-14,3,2017,12,14,50,0,1
1079,1079,2017-12-15,4,2017,12,15,50,0,1
1080,1080,2017-12-16,5,2017,12,16,50,0,1
1081,1081,2017-12-17,6,2017,12,17,50,1,1
1082,1082,2017-12-18,0,2017,12,18,51,1,1
1083,1083,2017-12-19,1,2017,12,19,51,0,1
1084,1084,2017-12-20,2,2017,12,20,51,0,1
1085,1085,2017-12-21,3,2017,12,21,51,0,1
1086,1086,2017-12-22,4,2017,12,22,51,0,1
1087,1087,2017-12-23,5,2017,12,23,51,0,1
1088,1088,2017-12-24,6,2017,12,24,51,1,1
1089,1089,2017-12-25,0,2017,12,25,52,1,1
1090,1090,2017-12-26,1,2017,12,26,52,0,1
1091,1091,2017-12-27,2,2017,12,27,52,0,1
1092,1092,2017-12-28,3,2017,12,28,52,0,1
1093,1093,2017-12-29,4,2017,12,29,52,0,1
1094,1094,2017-12-30,5,2017,12,30,52,0,1
1095,1095,2017-12-31,6,2017,12,31,52,1,1

In [70]:
# Add Crime
crime = pd.read_csv('datasets/crime_output.csv')
date.Date.astype(str)
crime['DATE'] = pd.to_datetime(crime['DATE'])
crime['start_dt'] = pd.to_datetime(crime['start_dt'])
crime['end_dt'] = pd.to_datetime(crime['end_dt'])
df = pd.merge(date, crime, left_on='Date', right_on='DATE', how='left')
display(df)

,Date_key,Date,Day_of_week,Year,Month,Day,Week,Weekend,season,Crime_key,...,Details,IS_FATAL,IS_TRAFFIC,LAT,LON,NEIGHBORHOOD,TIME,TYPE,end_dt,start_dt
0,0,2015-01-01,3,2015,1,1,1,0,1,440785,...,NaN,0,0,49.267152,-123.145645,Fairview,18:30:00,Theft from Vehicle,NaT,NaT
1,0,2015-01-01,3,2015,1,1,1,0,1,440797,...,NaN,0,0,49.280496,-123.109639,Central Business District,04:40:00,Theft from Vehicle,NaT,NaT
2,0,2015-01-01,3,2015,1,1,1,0,1,440798,...,NaN,0,0,49.280496,-123.109639,Central Business District,04:48:00,Theft from Vehicle,NaT,NaT
3,0,2015-01-01,3,2015,1,1,1,0,1,440802,...,NaN,0,0,49.280489,-123.109473,Central Business District,14:00:00,Theft from Vehicle,NaT,NaT
4,0,2015-01-01,3,2015,1,1,1,0,1,441402,...,NaN,0,0,49.271399,-123.046030,Hastings-Sunrise,02:00:00,Theft of Vehicle,NaT,NaT
5,0,2015-01-01,3,2015,1,1,1,0,1,442639,...,NaN,0,0,49.283632,-123.109384,Central Business District,03:01:00,Mischief,NaT,NaT
6,0,2015-01-01,3,2015,1,1,1,0,1,443601,...,NaN,0,0,49.283827,-123.024709,Hastings-Sunrise,20:05:00,Mischief,NaT,NaT
7,0,2015-01-01,3,2015,1,1,1,0,1,443739,...,NaN,0,0,49.246876,-123.181981,Dunbar-Southlands,00:00:00,Theft from Vehicle,NaT,NaT
8,0,2015-01-01,3,2015,1,1,1,0,1,446302,...,NaN,0,0,49.224975,-123.149487,Kerrisdale,15:00:00,Theft from Vehicle,NaT,NaT
9,0,2015-01-01,3,2015,1,1,1,0,1,446752,...,NaN,0,0,49.283559,-123.114439,Central Business District,17:20:00,Break and Enter Commercial,NaT,NaT
10,0,2015-01-01,3,2015,1,1,1,0,1,447282,...,NaN,0,0,49.248823,-123.069974,Kensington-Cedar Cottage,00:00:00,Theft from Vehicle,NaT,NaT
11,0,2015-01-01,3,2015,1,1,1,0,1,447573,...,NaN,0,0,49.208605,-123.136106,Marpole,00:00:00,Theft from Vehicle,NaT,NaT
12,0,2015-01-01,3,2015,1,1,1,0,1,448018,...,NaN,0,0,49.278616,-123.089710,Strathcona,07:30:00,Theft from Vehicle,NaT,NaT
13,0,2015-01-01,3,2015,1,1,1,0,1,448072,...,NaN,0,0,49.237895,-123.065488,Kensington-Cedar Cottage,00:00:00,Break and Enter Commercial,NaT,NaT
14,0,2015-01-01,3,2015,1,1,1,0,1,448391,...,NaN,0,0,49.263400,-123.123753,Fairview,23:32:00,Other Theft,NaT,NaT
15,0,2015-01-01,3,2015,1,1,1,0,1,448487,...,NaN,0,0,49.277706,-123.114062,Central Business District,15:30:00,Theft from Vehicle,NaT,NaT
16,0,2015-01-01,3,2015,1,1,1,0,1,449796,...,NaN,0,0,49.282367,-123.114455,Central Business District,17:05:00,Theft from Vehicle,NaT,NaT
17,0,2015-01-01,3,2015,1,1,1,0,1,449896,...,NaN,0,0,49.277194,-123.129883,Central Business District,20:00:00,Theft from Vehicle,NaT,NaT
18,0,2015-01-01,3,2015,1,1,1,0,1,452205,...,NaN,0,0,49.252323,-123.100999,Riley Park,00:00:00,Other Theft,NaT,NaT
19,0,2015-01-01,3,2015,1,1,1,0,1,452498,...,NaN,0,0,49.281097,-123.024109,Hastings-Sunrise,16:30:00,Other Theft,NaT,NaT
20,0,2015-01-01,3,2015,1,1,1,0,1,452857,...,NaN,0,0,49.281820,-123.106436,Central Business District,22:00:00,Theft of Bicycle,NaT,NaT
21,0,2015-01-01,3,2015,1,1,1,0,1,453193,...,NaN,0,0,49.279376,-123.126621,Central Business District,04:48:00,Mischief,NaT,NaT
22,0,2015-01-01,3,2015,1,1,1,0,1,453194,...,NaN,0,0,49.282130,-123.093324,Strathcona,12:00:00,Theft of Vehicle,NaT,NaT
23,0,2015-01-01,3,2015,1,1,1,0,1,453338,...,NaN,0,0,49.282468,-123.107058,Central Business District,17:22:00,Other Theft,NaT,NaT
24,0,2015-01-01,3,2015,1,1,1,0,1,454080,...,NaN,0,0,49.236441,-123.107399,Riley Park,00:40:00,Theft of Vehicle,NaT,NaT
25,0,2015-01-01,3,2015,1,1,1,0,1,454274,...,NaN,0,0,49.249647,-123.027748,Renfrew-Collingwood,12:00:00,Theft from Vehicle,NaT,NaT
26,0,2015-01-01,3,2015,1,1,1,0,1,454565,...,NaN,0,0,49.281764,-123.135403,West End,21:39:00,Mischief,NaT,NaT
27,0,2015-01-01,3,2015,1,1,1,0,1,454988,...,NaN,0,0,49.214957,-123.096928,Sunset,03:22:00,Break and Enter Residential/Other,NaT,NaT
28,0,2015-01-01,3,2015,1,1,1,0,1,455527,...,NaN,0,0,49.281131,-123.126045,Central Business District,15:00:00,Theft from Vehicle,NaT,NaT
29,0,2015-01-01,3,2015,1,1,1,0,1,455625,...,NaN,0,0,49.278024,-123.124963,Central Business District,23:30:00,Break and Enter Commercial,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354713,1095,2017-12-31,6,2017,12,31,52,1,1,944980,...,auto-theft,0,0,39.678830,-104.976604,platt-park,20:53:00,Theft of Vehicle,2017-12-31 20:35:00,2017-12-31 20:00:00
354714,1095,2017-12-31,6,2017,12,31,52,1,1,944982,...,other-crimes-against-persons,0,0,39.687437,-105.025323,mar-lee,03:04:00,Offence Against a Person,NaT,2017-12-31 01:32:00
354715,1095,2017-12-31,6,2017,12,31,52,1,1,944985,...,all-other-crimes,0,0,39.739994,-104.963467,cheesman-park,17:40:00,NaN,NaT,2017-12-31 17:20:00
354716,1095,2017-12-31,6,2017,12,31,52,1,1,945697,...,all-other-crimes,0,0,39.734859,-105.021849,sun-valley,21:11:00,NaN,NaT,2017-12-31 20:42:00
354717,1095,2017-12-31,6,2017,12,31,52,1,1,945702,...,theft-from-motor-vehicle,0,0,39.654625,-104.917270,hampden,18:49:00,Theft from Vehicle,2017-12-31 10:00:00,2017-12-29 15:00:00
354718,1095,2017-12-31,6,2017,12,31,52,1,1,945704,...,auto-theft,0,0,39.774915,-104.771109,gateway-green-valley-ranch,10:49:00,Theft of Vehicle,2017-12-31 09:30:00,2017-12-30 20:20:00
354719,1095,2017-12-31,6,2017,12,31,52,1,1,945710,...,theft-from-motor-vehicle,0,0,39.673819,-104.954729,university-park,15:32:00,Theft from Vehicle,2017-12-25 07:00:00,2017-12-24 23:59:00
354720,1095,2017-12-31,6,2017,12,31,52,1,1,945711,...,public-disorder,0,0,39.740207,-105.051977,west-colfax,10:01:00,Mischief,NaT,2017-12-31 09:33:00
354721,1095,2017-12-31,6,2017,12,31,52,1,1,945712,...,all-other-crimes,0,0,39.718086,-105.031550,barnum,18:01:00,NaN,NaT,2017-12-31 17:00:00
354722,1095,2017-12-31,6,2017,12,31,52,1,1,945717,...,larceny,0,0,39.630251,-105.090742,marston,12:00:00,Theft of Bicycle,2017-12-30 22:00:00,2017-12-24 13:00:00
354723,1095,2017-12-31,6,2017,12,31,52,1,1,945727,...,auto-theft,0,0,39.784124,-104.839385,montbello,22:27:00,Theft of Vehicle,2017-12-31 22:10:00,2017-12-31 22:05:00
354724,1095,2017-12-31,6,2017,12,31,52,1,1,945729,...,auto-theft,0,0,39.729741,-104.980779,capitol-hill,22:14:00,Theft of Vehicle,NaT,2017-12-31 08:00:00
354725,1095,2017-12-31,6,2017,12,31,52,1,1,945732,...,public-disorder,0,0,39.678178,-104.916296,goldsmith,20:41:00,Mischief,NaT,2017-12-31 20:00:00
354726,1095,2017-12-31,6,2017,12,31,52,1,1,945733,...,larceny,0,0,39.717270,-104.949660,cherry-creek,16:56:00,Other Theft,2017-12-31 16:52:00,2017-12-31 16:40:00
354727,1095,2017-12-31,6,2017,12,31,52,1,1,945734,...,auto-theft,0,0,39.783188,-104.820646,montbello,08:03:00,Theft of Vehicle,NaT,2017-12-31 07:30:00
354728,1095,2017-12-31,6,2017,12,31,52,1,1,945737,...,traffic-accident,0,1,39.700216,-104.908220,washington-virginia-vale,00:09:00,Vehicle Collision or Pedestrian Struck (with I...,NaT,2017-12-31 00:09:00
354729,1095,2017-12-31,6,2017,12,31,52,1,1,945739,...,theft-from-motor-vehicle,0,0,39.715602,-104.975001,speer,11:49:00,Theft from Vehicle,2017-12-31 09:00:00,2017-12-30 14:00:00
354730,1095,2017-12-31,6,2017,12,31,52,1,1,946474,...,public-disorder,0,0,39.751237,-104.985866,five-points,19:43:00,Offence Against a Person,NaT,2017-12-31 15:03:00
354731,1095,2017-12-31,6,2017,12,31,52,1,1,946476,...,theft-from-motor-vehicle,0,0,39.789727,-104.768261,gateway-green-valley-ranch,11:27:00,Theft from Vehicle,2017-12-30 13:30:00,2017-12-24 13:30:00
354732,1095,2017-12-31,6,2017,12,31,52,1,1,946484,...,all-other-crimes,0,0,39.746325,-104.988359,cbd,03:07:00,Mischief,NaT,2017-12-31 01:40:00
354733,1095,2017-12-31,6,2017,12,31,52,1,1,946486,...,traffic-accident,0,1,39.775845,-104.865891,stapleton,18:05:00,Vehicle Collision or Pedestrian Struck (with I...,NaT,2017-12-31 17:29:00
354734,1095,2017-12-31,6,2017,12,31,52,1,1,946489,...,traffic-accident,0,1,39.631371,-105.089859,marston,15:50:00,Vehicle Collision or Pedestrian Struck (with I...,NaT,2017-12-31 01:50:00
354735,1095,2017-12-31,6,2017,12,31,52,1,1,946491,...,robbery,0,0,39.750433,-104.917135,south-park-hill,19:40:00,Other Theft,NaT,2017-12-31 19:00:00
354736,1095,2017-12-31,6,2017,12,31,52,1,1,946492,...,public-disorder,0,0,39.739112,-104.977314,capitol-hill,16:51:00,Mischief,2017-12-31 16:40:00,2017-12-31 16:40:00
354737,1095,2017-12-31,6,2017,12,31,52,1,1,946494,...,auto-theft,0,0,39.824058,-104.775233,dia,12:15:00,Theft of Vehicle,2017-12-31 11:00:00,2017-12-31 02:00:00
354738,1095,2017-12-31,6,2017,12,31,52,1,1,946499,...,public-disorder,0,0,39.734556,-104.986500,capitol-hill,16:42:00,Mischief,NaT,2017-12-30 11:00:00
354739,1095,2017-12-31,6,2017,12,31,52,1,1,946508,...,theft-from-motor-vehicle,0,0,39.761436,-104.866700,stapleton,12:49:00,Theft from Vehicle,2017-12-31 12:49:00,2017-12-31 01:00:00
354740,1095,2017-12-31,6,2017,12,31,52,1,1,946509,...,other-crimes-against-persons,0,0,39.693245,-104.912610,washington-virginia-vale,09:15:00,Offence Against a Person,NaT,2017-12-31 08:55:00
354741,1095,2017-12-31,6,2017,12,31,52,1,1,946510,...,public-disorder,0,0,39.735910,-104.961379,cheesman-park,13:04:00,Mischief,2017-12-31 11:30:00,2017-12-30 21:00:00
354742,1095,2017-12-31,6,2017,12,31,52,1,1,946513,...,traffic-accident,0,1,39.714977,-105.025094,barnum,11:53:00,Vehicle Collision or Pedestrian Struck (with I...,NaT,2017-12-30 21:37:00

In [71]:
# Add Location
location = pd.read_csv('datasets/final/location.csv')
df['NEIGHBORHOOD'] = df.NEIGHBORHOOD.str.strip()
df['NEIGHBORHOOD'] = df.NEIGHBORHOOD.str.lower()
df['NEIGHBORHOOD'] = df.NEIGHBORHOOD.str.replace('-', ' ')
df['NEIGHBORHOOD'] = df.NEIGHBORHOOD.str.replace('   ', ' ')

df = pd.merge(df, location, left_on=['ADDRESS', 'LAT', 'LON', 'NEIGHBORHOOD'], right_on=['ADDRESS', 'LAT', 'LON', 'NEIGHBORHOOD'], how='left')
display(df)

,Date_key,Date,Day_of_week,Year,Month,Day,Week,Weekend,season,Crime_key,...,AGE_20_TO_29,AGE_30_TO_39,AGE_40_TO_49,AGE_50_TO_59,AGE_60_OVER,MEDIAN_AGE_ALL,MEDIAN_AGE_MALE,MEDIAN_AGE_FEMALE,PER_CAPITA_INCOME,PCT_LOW_INCOME
0,0,2015-01-01,3,2015,1,1,1,0,1,440785,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,2015-01-01,3,2015,1,1,1,0,1,440797,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,2015-01-01,3,2015,1,1,1,0,1,440798,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,2015-01-01,3,2015,1,1,1,0,1,440802,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,2015-01-01,3,2015,1,1,1,0,1,441402,...,5115.0,4780.0,4915.0,5290.0,8095.0,42.100000,41.000000,43.100000,27255.0,16.900000
5,0,2015-01-01,3,2015,1,1,1,0,1,442639,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0,2015-01-01,3,2015,1,1,1,0,1,443601,...,5115.0,4780.0,4915.0,5290.0,8095.0,42.100000,41.000000,43.100000,27255.0,16.900000
7,0,2015-01-01,3,2015,1,1,1,0,1,443739,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0,2015-01-01,3,2015,1,1,1,0,1,446302,...,2055.0,1105.0,2015.0,2290.0,3585.0,45.600000,44.200000,46.400000,35064.0,22.000000
9,0,2015-01-01,3,2015,1,1,1,0,1,446752,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,0,2015-01-01,3,2015,1,1,1,0,1,447282,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,0,2015-01-01,3,2015,1,1,1,0,1,447573,...,4245.0,3350.0,3515.0,3965.0,5350.0,42.200000,39.900000,44.000000,26787.0,24.700000
12,0,2015-01-01,3,2015,1,1,1,0,1,448018,...,1460.0,1920.0,1815.0,2230.0,3720.0,48.300000,50.000000,45.400000,17631.0,49.700000
13,0,2015-01-01,3,2015,1,1,1,0,1,448072,...,7795.0,8010.0,7340.0,6760.0,9715.0,38.800000,37.600000,39.900000,28356.0,14.800000
14,0,2015-01-01,3,2015,1,1,1,0,1,448391,...,5890.0,7570.0,4790.0,4255.0,7875.0,40.200000,39.100000,41.400000,46940.0,14.700000
15,0,2015-01-01,3,2015,1,1,1,0,1,448487,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,0,2015-01-01,3,2015,1,1,1,0,1,449796,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,0,2015-01-01,3,2015,1,1,1,0,1,449896,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,0,2015-01-01,3,2015,1,1,1,0,1,452205,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,0,2015-01-01,3,2015,1,1,1,0,1,452498,...,5115.0,4780.0,4915.0,5290.0,8095.0,42.100000,41.000000,43.100000,27255.0,16.900000
20,0,2015-01-01,3,2015,1,1,1,0,1,452857,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,0,2015-01-01,3,2015,1,1,1,0,1,453193,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,0,2015-01-01,3,2015,1,1,1,0,1,453194,...,1460.0,1920.0,1815.0,2230.0,3720.0,48.300000,50.000000,45.400000,17631.0,49.700000
23,0,2015-01-01,3,2015,1,1,1,0,1,453338,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,0,2015-01-01,3,2015,1,1,1,0,1,454080,...,3290.0,3755.0,3390.0,3125.0,4500.0,39.300000,38.400000,40.000000,37327.0,11.300000
25,0,2015-01-01,3,2015,1,1,1,0,1,454274,...,9160.0,7475.0,6920.0,7800.0,11055.0,40.000000,37.800000,41.900000,25476.0,17.600000
26,0,2015-01-01,3,2015,1,1,1,0,1,454565,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,0,2015-01-01,3,2015,1,1,1,0,1,454988,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,0,2015-01-01,3,2015,1,1,1,0,1,455527,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,0,2015-01-01,3,2015,1,1,1,0,1,455625,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354713,1095,2017-12-31,6,2017,12,31,52,1,1,944980,...,831.0,1543.0,467.0,925.0,981.0,36.700000,37.000000,35.800000,59558.0,7.200000
354714,1095,2017-12-31,6,2017,12,31,52,1,1,944982,...,1996.0,1967.0,1903.0,1387.0,1798.0,32.350000,31.000000,34.500000,19740.0,15.700000
354715,1095,2017-12-31,6,2017,12,31,52,1,1,944985,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354716,1095,2017-12-31,6,2017,12,31,52,1,1,945697,...,156.0,137.0,90.0,37.0,146.0,15.500000,11.800000,24.700000,4854.0,80.600000
354717,1095,2017-12-31,6,2017,12,31,52,1,1,945702,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354718,1095,2017-12-31,6,2017,12,31,52,1,1,945704,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354719,1095,2017-12-31,6,2017,12,31,52,1,1,945710,...,2250.0,1174.0,958.0,952.0,1330.0,32.350000,33.650000,31.050000,55752.0,17.700000
354720,1095,2017-12-31,6,2017,12,31,52,1,1,945711,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354721,1095,2017-12-31,6,2017,12,31,52,1,1,945712,...,946.0,1080.0,690.0,846.0,692.0,30.600000,32.000000,29.400000,14758.0,28.200000
354722,1095,2017-12-31,6,2017,12,31,52,1,1,945717,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354723,1095,2017-12-31,6,2017,12,31,52,1,1,945727,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354724,1095,2017-12-31,6,2017,12,31,52,1,1,945729,...,5994.0,4495.0,1399.0,1602.0,1614.0,31.433333,32.733333,29.966667,41521.0,17.333333
354725,1095,2017-12-31,6,2017,12,31,52,1,1,945732,...,980.0,1023.0,623.0,748.0,1290.0,36.600000,34.200000,38.900000,26333.0,18.000000
354726,1095,2017-12-31,6,2017,12,31,52,1,1,945733,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354727,1095,2017-12-31,6,2017,12,31,52,1,1,945734,...,5146.0,5335.0,4712.0,3600.0,3849.0,28.833333,28.483333,29.066667,16956.0,20.666667
354728,1095,2017-12-31,6,2017,12,31,52,1,1,945737,...,2838.0,2495.0,1636.0,1696.0,2683.0,37.433333,36.500000,38.166667,34699.0,14.033333
354729,1095,2017-12-31,6,2017,12,31,52,1,1,945739,...,3088.0,3350.0,1587.0,1114.0,1676.0,33.800000,35.966667,32.566667,51809.0,10.766667
354730,1095,2017-12-31,6,2017,12,31,52,1,1,946474,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354731,1095,2017-12-31,6,2017,12,31,52,1,1,946476,...,4974.0,6857.0,5768.0,3988.0,2901.0,31.750000,31.725000,31.750000,24608.0,7.000000
354732,1095,2017-12-31,6,2017,12,31,52,1,1,946484,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354733,1095,2017-12-31,6,2017,12,31,52,1,1,946486,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354734,1095,2017-12-31,6,2017,12,31,52,1,1,946489,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354735,1095,2017-12-31,6,2017,12,31,52,1,1,946491,...,855.0,1438.0,1312.0,1280.0,2222.0,39.800000,39.900000,39.700000,56392.0,8.150000
354736,1095,2017-12-31,6,2017,12,31,52,1,1,946492,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354737,1095,2017-12-31,6,2017,12,31,52,1,1,946494,...,260.0,296.0,221.0,85.0,153.0,31.300000,32.700000,30.300000,24995.0,8.900000
354738,1095,2017-12-31,6,2017,12,31,52,1,1,946499,...,5994.0,4495.0,1399.0,1602.0,1614.0,31.433333,32.733333,29.966667,41521.0,17.333333
354739,1095,2017-12-31,6,2017,12,31,52,1,1,946508,...,1434.0,5628.0,4495.0,1608.0,1886.0,35.300000,34.400000,35.850000,51718.0,3.300000
354740,1095,2017-12-31,6,2017,12,31,52,1,1,946509,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354741,1095,2017-12-31,6,2017,12,31,52,1,1,946510,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354742,1095,2017-12-31,6,2017,12,31,52,1,1,946513,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
# Add Weather
weather = pd.read_csv('datasets/weather.csv')
weather['Date'] = pd.to_datetime(weather['Date'])
df = pd.merge(df, weather, left_on=['City', 'Date'], right_on=['City', 'Date'], how='left')
display(df)

,Date_key,Date,Day_of_week,Year,Month,Day,Week,Weekend,season,Crime_key,...,MEDIAN_AGE_ALL,MEDIAN_AGE_MALE,MEDIAN_AGE_FEMALE,PER_CAPITA_INCOME,PCT_LOW_INCOME,Weather_key,Temperature,Weather,Sunrise,Sunset
0,0,2015-01-01,3,2015,1,1,1,0,1,440785,...,NaN,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46
1,0,2015-01-01,3,2015,1,1,1,0,1,440797,...,NaN,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46
2,0,2015-01-01,3,2015,1,1,1,0,1,440798,...,NaN,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46
3,0,2015-01-01,3,2015,1,1,1,0,1,440802,...,NaN,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46
4,0,2015-01-01,3,2015,1,1,1,0,1,441402,...,42.100000,41.000000,43.100000,27255.0,16.900000,1644.0,273.628384,sky is clear,07:21,16:46
5,0,2015-01-01,3,2015,1,1,1,0,1,442639,...,NaN,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46
6,0,2015-01-01,3,2015,1,1,1,0,1,443601,...,42.100000,41.000000,43.100000,27255.0,16.900000,1644.0,273.628384,sky is clear,07:21,16:46
7,0,2015-01-01,3,2015,1,1,1,0,1,443739,...,NaN,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46
8,0,2015-01-01,3,2015,1,1,1,0,1,446302,...,45.600000,44.200000,46.400000,35064.0,22.000000,1644.0,273.628384,sky is clear,07:21,16:46
9,0,2015-01-01,3,2015,1,1,1,0,1,446752,...,NaN,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46
10,0,2015-01-01,3,2015,1,1,1,0,1,447282,...,NaN,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46
11,0,2015-01-01,3,2015,1,1,1,0,1,447573,...,42.200000,39.900000,44.000000,26787.0,24.700000,1644.0,273.628384,sky is clear,07:21,16:46
12,0,2015-01-01,3,2015,1,1,1,0,1,448018,...,48.300000,50.000000,45.400000,17631.0,49.700000,1644.0,273.628384,sky is clear,07:21,16:46
13,0,2015-01-01,3,2015,1,1,1,0,1,448072,...,38.800000,37.600000,39.900000,28356.0,14.800000,1644.0,273.628384,sky is clear,07:21,16:46
14,0,2015-01-01,3,2015,1,1,1,0,1,448391,...,40.200000,39.100000,41.400000,46940.0,14.700000,1644.0,273.628384,sky is clear,07:21,16:46
15,0,2015-01-01,3,2015,1,1,1,0,1,448487,...,NaN,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46
16,0,2015-01-01,3,2015,1,1,1,0,1,449796,...,NaN,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46
17,0,2015-01-01,3,2015,1,1,1,0,1,449896,...,NaN,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46
18,0,2015-01-01,3,2015,1,1,1,0,1,452205,...,NaN,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46
19,0,2015-01-01,3,2015,1,1,1,0,1,452498,...,42.100000,41.000000,43.100000,27255.0,16.900000,1644.0,273.628384,sky is clear,07:21,16:46
20,0,2015-01-01,3,2015,1,1,1,0,1,452857,...,NaN,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46
21,0,2015-01-01,3,2015,1,1,1,0,1,453193,...,NaN,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46
22,0,2015-01-01,3,2015,1,1,1,0,1,453194,...,48.300000,50.000000,45.400000,17631.0,49.700000,1644.0,273.628384,sky is clear,07:21,16:46
23,0,2015-01-01,3,2015,1,1,1,0,1,453338,...,NaN,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46
24,0,2015-01-01,3,2015,1,1,1,0,1,454080,...,39.300000,38.400000,40.000000,37327.0,11.300000,1644.0,273.628384,sky is clear,07:21,16:46
25,0,2015-01-01,3,2015,1,1,1,0,1,454274,...,40.000000,37.800000,41.900000,25476.0,17.600000,1644.0,273.628384,sky is clear,07:21,16:46
26,0,2015-01-01,3,2015,1,1,1,0,1,454565,...,NaN,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46
27,0,2015-01-01,3,2015,1,1,1,0,1,454988,...,NaN,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46
28,0,2015-01-01,3,2015,1,1,1,0,1,455527,...,NaN,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46
29,0,2015-01-01,3,2015,1,1,1,0,1,455625,...,NaN,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354713,1095,2017-12-31,6,2017,12,31,52,1,1,944980,...,36.700000,37.000000,35.800000,59558.0,7.200000,NaN,NaN,NaN,NaN,NaN
354714,1095,2017-12-31,6,2017,12,31,52,1,1,944982,...,32.350000,31.000000,34.500000,19740.0,15.700000,NaN,NaN,NaN,NaN,NaN
354715,1095,2017-12-31,6,2017,12,31,52,1,1,944985,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354716,1095,2017-12-31,6,2017,12,31,52,1,1,945697,...,15.500000,11.800000,24.700000,4854.0,80.600000,NaN,NaN,NaN,NaN,NaN
354717,1095,2017-12-31,6,2017,12,31,52,1,1,945702,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354718,1095,2017-12-31,6,2017,12,31,52,1,1,945704,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354719,1095,2017-12-31,6,2017,12,31,52,1,1,945710,...,32.350000,33.650000,31.050000,55752.0,17.700000,NaN,NaN,NaN,NaN,NaN
354720,1095,2017-12-31,6,2017,12,31,52,1,1,945711,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354721,1095,2017-12-31,6,2017,12,31,52,1,1,945712,...,30.600000,32.000000,29.400000,14758.0,28.200000,NaN,NaN,NaN,NaN,NaN
354722,1095,2017-12-31,6,2017,12,31,52,1,1,945717,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354723,1095,2017-12-31,6,2017,12,31,52,1,1,945727,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354724,1095,2017-12-31,6,2017,12,31,52,1,1,945729,...,31.433333,32.733333,29.966667,41521.0,17.333333,NaN,NaN,NaN,NaN,NaN
354725,1095,2017-12-31,6,2017,12,31,52,1,1,945732,...,36.600000,34.200000,38.900000,26333.0,18.000000,NaN,NaN,NaN,NaN,NaN
354726,1095,2017-12-31,6,2017,12,31,52,1,1,945733,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354727,1095,2017-12-31,6,2017,12,31,52,1,1,945734,...,28.833333,28.483333,29.066667,16956.0,20.666667,NaN,NaN,NaN,NaN,NaN
354728,1095,2017-12-31,6,2017,12,31,52,1,1,945737,...,37.433333,36.500000,38.166667,34699.0,14.033333,NaN,NaN,NaN,NaN,NaN
354729,1095,2017-12-31,6,2017,12,31,52,1,1,945739,...,33.800000,35.966667,32.566667,51809.0,10.766667,NaN,NaN,NaN,NaN,NaN
354730,1095,2017-12-31,6,2017,12,31,52,1,1,946474,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354731,1095,2017-12-31,6,2017,12,31,52,1,1,946476,...,31.750000,31.725000,31.750000,24608.0,7.000000,NaN,NaN,NaN,NaN,NaN
354732,1095,2017-12-31,6,2017,12,31,52,1,1,946484,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354733,1095,2017-12-31,6,2017,12,31,52,1,1,946486,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354734,1095,2017-12-31,6,2017,12,31,52,1,1,946489,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354735,1095,2017-12-31,6,2017,12,31,52,1,1,946491,...,39.800000,39.900000,39.700000,56392.0,8.150000,NaN,NaN,NaN,NaN,NaN
354736,1095,2017-12-31,6,2017,12,31,52,1,1,946492,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354737,1095,2017-12-31,6,2017,12,31,52,1,1,946494,...,31.300000,32.700000,30.300000,24995.0,8.900000,NaN,NaN,NaN,NaN,NaN
354738,1095,2017-12-31,6,2017,12,31,52,1,1,946499,...,31.433333,32.733333,29.966667,41521.0,17.333333,NaN,NaN,NaN,NaN,NaN
354739,1095,2017-12-31,6,2017,12,31,52,1,1,946508,...,35.300000,34.400000,35.850000,51718.0,3.300000,NaN,NaN,NaN,NaN,NaN
354740,1095,2017-12-31,6,2017,12,31,52,1,1,946509,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354741,1095,2017-12-31,6,2017,12,31,52,1,1,946510,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354742,1095,2017-12-31,6,2017,12,31,52,1,1,946513,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
# Add is_nighttime
df['Is_Nighttime'] = 1
df.loc[(df.TIME > df.Sunrise) & (df.TIME < df.Sunset), 'Is_Nighttime'] = 0
display(df)

,Date_key,Date,Day_of_week,Year,Month,Day,Week,Weekend,season,Crime_key,...,MEDIAN_AGE_MALE,MEDIAN_AGE_FEMALE,PER_CAPITA_INCOME,PCT_LOW_INCOME,Weather_key,Temperature,Weather,Sunrise,Sunset,Is_Nighttime
0,0,2015-01-01,3,2015,1,1,1,0,1,440785,...,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46,1
1,0,2015-01-01,3,2015,1,1,1,0,1,440797,...,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46,1
2,0,2015-01-01,3,2015,1,1,1,0,1,440798,...,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46,1
3,0,2015-01-01,3,2015,1,1,1,0,1,440802,...,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46,0
4,0,2015-01-01,3,2015,1,1,1,0,1,441402,...,41.000000,43.100000,27255.0,16.900000,1644.0,273.628384,sky is clear,07:21,16:46,1
5,0,2015-01-01,3,2015,1,1,1,0,1,442639,...,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46,1
6,0,2015-01-01,3,2015,1,1,1,0,1,443601,...,41.000000,43.100000,27255.0,16.900000,1644.0,273.628384,sky is clear,07:21,16:46,1
7,0,2015-01-01,3,2015,1,1,1,0,1,443739,...,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46,1
8,0,2015-01-01,3,2015,1,1,1,0,1,446302,...,44.200000,46.400000,35064.0,22.000000,1644.0,273.628384,sky is clear,07:21,16:46,0
9,0,2015-01-01,3,2015,1,1,1,0,1,446752,...,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46,1
10,0,2015-01-01,3,2015,1,1,1,0,1,447282,...,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46,1
11,0,2015-01-01,3,2015,1,1,1,0,1,447573,...,39.900000,44.000000,26787.0,24.700000,1644.0,273.628384,sky is clear,07:21,16:46,1
12,0,2015-01-01,3,2015,1,1,1,0,1,448018,...,50.000000,45.400000,17631.0,49.700000,1644.0,273.628384,sky is clear,07:21,16:46,0
13,0,2015-01-01,3,2015,1,1,1,0,1,448072,...,37.600000,39.900000,28356.0,14.800000,1644.0,273.628384,sky is clear,07:21,16:46,1
14,0,2015-01-01,3,2015,1,1,1,0,1,448391,...,39.100000,41.400000,46940.0,14.700000,1644.0,273.628384,sky is clear,07:21,16:46,1
15,0,2015-01-01,3,2015,1,1,1,0,1,448487,...,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46,0
16,0,2015-01-01,3,2015,1,1,1,0,1,449796,...,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46,1
17,0,2015-01-01,3,2015,1,1,1,0,1,449896,...,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46,1
18,0,2015-01-01,3,2015,1,1,1,0,1,452205,...,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46,1
19,0,2015-01-01,3,2015,1,1,1,0,1,452498,...,41.000000,43.100000,27255.0,16.900000,1644.0,273.628384,sky is clear,07:21,16:46,0
20,0,2015-01-01,3,2015,1,1,1,0,1,452857,...,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46,1
21,0,2015-01-01,3,2015,1,1,1,0,1,453193,...,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46,1
22,0,2015-01-01,3,2015,1,1,1,0,1,453194,...,50.000000,45.400000,17631.0,49.700000,1644.0,273.628384,sky is clear,07:21,16:46,0
23,0,2015-01-01,3,2015,1,1,1,0,1,453338,...,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46,1
24,0,2015-01-01,3,2015,1,1,1,0,1,454080,...,38.400000,40.000000,37327.0,11.300000,1644.0,273.628384,sky is clear,07:21,16:46,1
25,0,2015-01-01,3,2015,1,1,1,0,1,454274,...,37.800000,41.900000,25476.0,17.600000,1644.0,273.628384,sky is clear,07:21,16:46,0
26,0,2015-01-01,3,2015,1,1,1,0,1,454565,...,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46,1
27,0,2015-01-01,3,2015,1,1,1,0,1,454988,...,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46,1
28,0,2015-01-01,3,2015,1,1,1,0,1,455527,...,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46,0
29,0,2015-01-01,3,2015,1,1,1,0,1,455625,...,NaN,NaN,NaN,NaN,1644.0,273.628384,sky is clear,07:21,16:46,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354713,1095,2017-12-31,6,2017,12,31,52,1,1,944980,...,37.000000,35.800000,59558.0,7.200000,NaN,NaN,NaN,NaN,NaN,1
354714,1095,2017-12-31,6,2017,12,31,52,1,1,944982,...,31.000000,34.500000,19740.0,15.700000,NaN,NaN,NaN,NaN,NaN,1
354715,1095,2017-12-31,6,2017,12,31,52,1,1,944985,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
354716,1095,2017-12-31,6,2017,12,31,52,1,1,945697,...,11.800000,24.700000,4854.0,80.600000,NaN,NaN,NaN,NaN,NaN,1
354717,1095,2017-12-31,6,2017,12,31,52,1,1,945702,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
354718,1095,2017-12-31,6,2017,12,31,52,1,1,945704,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
354719,1095,2017-12-31,6,2017,12,31,52,1,1,945710,...,33.650000,31.050000,55752.0,17.700000,NaN,NaN,NaN,NaN,NaN,1
354720,1095,2017-12-31,6,2017,12,31,52,1,1,945711,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
354721,1095,2017-12-31,6,2017,12,31,52,1,1,945712,...,32.000000,29.400000,14758.0,28.200000,NaN,NaN,NaN,NaN,NaN,1
354722,1095,2017-12-31,6,2017,12,31,52,1,1,945717,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
354723,1095,2017-12-31,6,2017,12,31,52,1,1,945727,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
354724,1095,2017-12-31,6,2017,12,31,52,1,1,945729,...,32.733333,29.966667,41521.0,17.333333,NaN,NaN,NaN,NaN,NaN,1
354725,1095,2017-12-31,6,2017,12,31,52,1,1,945732,...,34.200000,38.900000,26333.0,18.000000,NaN,NaN,NaN,NaN,NaN,1
354726,1095,2017-12-31,6,2017,12,31,52,1,1,945733,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
354727,1095,2017-12-31,6,2017,12,31,52,1,1,945734,...,28.483333,29.066667,16956.0,20.666667,NaN,NaN,NaN,NaN,NaN,1
354728,1095,2017-12-31,6,2017,12,31,52,1,1,945737,...,36.500000,38.166667,34699.0,14.033333,NaN,NaN,NaN,NaN,NaN,1
354729,1095,2017-12-31,6,2017,12,31,52,1,1,945739,...,35.966667,32.566667,51809.0,10.766667,NaN,NaN,NaN,NaN,NaN,1
354730,1095,2017-12-31,6,2017,12,31,52,1,1,946474,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
354731,1095,2017-12-31,6,2017,12,31,52,1,1,946476,...,31.725000,31.750000,24608.0,7.000000,NaN,NaN,NaN,NaN,NaN,1
354732,1095,2017-12-31,6,2017,12,31,52,1,1,946484,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
354733,1095,2017-12-31,6,2017,12,31,52,1,1,946486,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
354734,1095,2017-12-31,6,2017,12,31,52,1,1,946489,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
354735,1095,2017-12-31,6,2017,12,31,52,1,1,946491,...,39.900000,39.700000,56392.0,8.150000,NaN,NaN,NaN,NaN,NaN,1
354736,1095,2017-12-31,6,2017,12,31,52,1,1,946492,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
354737,1095,2017-12-31,6,2017,12,31,52,1,1,946494,...,32.700000,30.300000,24995.0,8.900000,NaN,NaN,NaN,NaN,NaN,1
354738,1095,2017-12-31,6,2017,12,31,52,1,1,946499,...,32.733333,29.966667,41521.0,17.333333,NaN,NaN,NaN,NaN,NaN,1
354739,1095,2017-12-31,6,2017,12,31,52,1,1,946508,...,34.400000,35.850000,51718.0,3.300000,NaN,NaN,NaN,NaN,NaN,1
354740,1095,2017-12-31,6,2017,12,31,52,1,1,946509,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
354741,1095,2017-12-31,6,2017,12,31,52,1,1,946510,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
354742,1095,2017-12-31,6,2017,12,31,52,1,1,946513,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [74]:
# Add stock data
stock = pd.read_csv('datasets/StockData.csv')
stock['date'] = pd.to_datetime(stock.date)
df = pd.merge(df, stock, left_on='Date', right_on='date', how='left')
display(df)

,Date_key,Date,Day_of_week,Year,Month,Day,Week,Weekend,season,Crime_key,...,Sunrise,Sunset,Is_Nighttime,stockKey,date,changeOpenClose,changeLastDay,changeLastWeek,changeLastMonth,changeLastYear
0,0,2015-01-01,3,2015,1,1,1,0,1,440785,...,07:21,16:46,1,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
1,0,2015-01-01,3,2015,1,1,1,0,1,440797,...,07:21,16:46,1,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
2,0,2015-01-01,3,2015,1,1,1,0,1,440798,...,07:21,16:46,1,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
3,0,2015-01-01,3,2015,1,1,1,0,1,440802,...,07:21,16:46,0,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
4,0,2015-01-01,3,2015,1,1,1,0,1,441402,...,07:21,16:46,1,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
5,0,2015-01-01,3,2015,1,1,1,0,1,442639,...,07:21,16:46,1,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
6,0,2015-01-01,3,2015,1,1,1,0,1,443601,...,07:21,16:46,1,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
7,0,2015-01-01,3,2015,1,1,1,0,1,443739,...,07:21,16:46,1,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
8,0,2015-01-01,3,2015,1,1,1,0,1,446302,...,07:21,16:46,0,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
9,0,2015-01-01,3,2015,1,1,1,0,1,446752,...,07:21,16:46,1,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
10,0,2015-01-01,3,2015,1,1,1,0,1,447282,...,07:21,16:46,1,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
11,0,2015-01-01,3,2015,1,1,1,0,1,447573,...,07:21,16:46,1,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
12,0,2015-01-01,3,2015,1,1,1,0,1,448018,...,07:21,16:46,0,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
13,0,2015-01-01,3,2015,1,1,1,0,1,448072,...,07:21,16:46,1,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
14,0,2015-01-01,3,2015,1,1,1,0,1,448391,...,07:21,16:46,1,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
15,0,2015-01-01,3,2015,1,1,1,0,1,448487,...,07:21,16:46,0,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
16,0,2015-01-01,3,2015,1,1,1,0,1,449796,...,07:21,16:46,1,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
17,0,2015-01-01,3,2015,1,1,1,0,1,449896,...,07:21,16:46,1,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
18,0,2015-01-01,3,2015,1,1,1,0,1,452205,...,07:21,16:46,1,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
19,0,2015-01-01,3,2015,1,1,1,0,1,452498,...,07:21,16:46,0,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
20,0,2015-01-01,3,2015,1,1,1,0,1,452857,...,07:21,16:46,1,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
21,0,2015-01-01,3,2015,1,1,1,0,1,453193,...,07:21,16:46,1,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
22,0,2015-01-01,3,2015,1,1,1,0,1,453194,...,07:21,16:46,0,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
23,0,2015-01-01,3,2015,1,1,1,0,1,453338,...,07:21,16:46,1,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
24,0,2015-01-01,3,2015,1,1,1,0,1,454080,...,07:21,16:46,1,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
25,0,2015-01-01,3,2015,1,1,1,0,1,454274,...,07:21,16:46,0,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
26,0,2015-01-01,3,2015,1,1,1,0,1,454565,...,07:21,16:46,1,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
27,0,2015-01-01,3,2015,1,1,1,0,1,454988,...,07:21,16:46,1,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
28,0,2015-01-01,3,2015,1,1,1,0,1,455527,...,07:21,16:46,0,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
29,0,2015-01-01,3,2015,1,1,1,0,1,455625,...,07:21,16:46,1,1095,2015-01-01,0.613481,0.0,-0.618917,-0.182061,8.357103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354713,1095,2017-12-31,6,2017,12,31,52,1,1,944980,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636
354714,1095,2017-12-31,6,2017,12,31,52,1,1,944982,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636
354715,1095,2017-12-31,6,2017,12,31,52,1,1,944985,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636
354716,1095,2017-12-31,6,2017,12,31,52,1,1,945697,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636
354717,1095,2017-12-31,6,2017,12,31,52,1,1,945702,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636
354718,1095,2017-12-31,6,2017,12,31,52,1,1,945704,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636
354719,1095,2017-12-31,6,2017,12,31,52,1,1,945710,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636
354720,1095,2017-12-31,6,2017,12,31,52,1,1,945711,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636
354721,1095,2017-12-31,6,2017,12,31,52,1,1,945712,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636
354722,1095,2017-12-31,6,2017,12,31,52,1,1,945717,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636
354723,1095,2017-12-31,6,2017,12,31,52,1,1,945727,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636
354724,1095,2017-12-31,6,2017,12,31,52,1,1,945729,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636
354725,1095,2017-12-31,6,2017,12,31,52,1,1,945732,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636
354726,1095,2017-12-31,6,2017,12,31,52,1,1,945733,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636
354727,1095,2017-12-31,6,2017,12,31,52,1,1,945734,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636
354728,1095,2017-12-31,6,2017,12,31,52,1,1,945737,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636
354729,1095,2017-12-31,6,2017,12,31,52,1,1,945739,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636
354730,1095,2017-12-31,6,2017,12,31,52,1,1,946474,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636
354731,1095,2017-12-31,6,2017,12,31,52,1,1,946476,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636
354732,1095,2017-12-31,6,2017,12,31,52,1,1,946484,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636
354733,1095,2017-12-31,6,2017,12,31,52,1,1,946486,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636
354734,1095,2017-12-31,6,2017,12,31,52,1,1,946489,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636
354735,1095,2017-12-31,6,2017,12,31,52,1,1,946491,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636
354736,1095,2017-12-31,6,2017,12,31,52,1,1,946492,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636
354737,1095,2017-12-31,6,2017,12,31,52,1,1,946494,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636
354738,1095,2017-12-31,6,2017,12,31,52,1,1,946499,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636
354739,1095,2017-12-31,6,2017,12,31,52,1,1,946508,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636
354740,1095,2017-12-31,6,2017,12,31,52,1,1,946509,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636
354741,1095,2017-12-31,6,2017,12,31,52,1,1,946510,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636
354742,1095,2017-12-31,6,2017,12,31,52,1,1,946513,...,NaN,NaN,1,0,2017-12-31,0.430313,0.0,-0.113404,1.497016,18.356636

In [75]:
# Add Events
events = pd.read_csv('datasets/events_mapping.csv')
events['date'] = pd.to_datetime(events.date)
df = pd.merge(df, events, left_on='Date', right_on='date', how='left')
display(df)

,Date_key,Date,Day_of_week,Year,Month,Day,Week,Weekend,season,Crime_key,...,city,date_y,endDate,endTime,eventKey,isOffWork,name,startDate,startTime,type
0,0,2015-01-01,3,2015,1,1,1,0,1,440785,...,Vancouver,2015-01-01,2015-01-01,NaN,37.0,1.0,Hockey,2015-01-01,22:00:00,Sport
1,0,2015-01-01,3,2015,1,1,1,0,1,440785,...,Vancouver,2015-01-01,2015-01-01,NaN,38.0,1.0,New Year's Day,2015-01-01,NaN,Public Holiday
2,0,2015-01-01,3,2015,1,1,1,0,1,440785,...,Denver,2015-01-01,2015-01-01,NaN,39.0,1.0,New Year's Day,2015-01-01,NaN,Public Holiday
3,0,2015-01-01,3,2015,1,1,1,0,1,440797,...,Vancouver,2015-01-01,2015-01-01,NaN,37.0,1.0,Hockey,2015-01-01,22:00:00,Sport
4,0,2015-01-01,3,2015,1,1,1,0,1,440797,...,Vancouver,2015-01-01,2015-01-01,NaN,38.0,1.0,New Year's Day,2015-01-01,NaN,Public Holiday
5,0,2015-01-01,3,2015,1,1,1,0,1,440797,...,Denver,2015-01-01,2015-01-01,NaN,39.0,1.0,New Year's Day,2015-01-01,NaN,Public Holiday
6,0,2015-01-01,3,2015,1,1,1,0,1,440798,...,Vancouver,2015-01-01,2015-01-01,NaN,37.0,1.0,Hockey,2015-01-01,22:00:00,Sport
7,0,2015-01-01,3,2015,1,1,1,0,1,440798,...,Vancouver,2015-01-01,2015-01-01,NaN,38.0,1.0,New Year's Day,2015-01-01,NaN,Public Holiday
8,0,2015-01-01,3,2015,1,1,1,0,1,440798,...,Denver,2015-01-01,2015-01-01,NaN,39.0,1.0,New Year's Day,2015-01-01,NaN,Public Holiday
9,0,2015-01-01,3,2015,1,1,1,0,1,440802,...,Vancouver,2015-01-01,2015-01-01,NaN,37.0,1.0,Hockey,2015-01-01,22:00:00,Sport
10,0,2015-01-01,3,2015,1,1,1,0,1,440802,...,Vancouver,2015-01-01,2015-01-01,NaN,38.0,1.0,New Year's Day,2015-01-01,NaN,Public Holiday
11,0,2015-01-01,3,2015,1,1,1,0,1,440802,...,Denver,2015-01-01,2015-01-01,NaN,39.0,1.0,New Year's Day,2015-01-01,NaN,Public Holiday
12,0,2015-01-01,3,2015,1,1,1,0,1,441402,...,Vancouver,2015-01-01,2015-01-01,NaN,37.0,1.0,Hockey,2015-01-01,22:00:00,Sport
13,0,2015-01-01,3,2015,1,1,1,0,1,441402,...,Vancouver,2015-01-01,2015-01-01,NaN,38.0,1.0,New Year's Day,2015-01-01,NaN,Public Holiday
14,0,2015-01-01,3,2015,1,1,1,0,1,441402,...,Denver,2015-01-01,2015-01-01,NaN,39.0,1.0,New Year's Day,2015-01-01,NaN,Public Holiday
15,0,2015-01-01,3,2015,1,1,1,0,1,442639,...,Vancouver,2015-01-01,2015-01-01,NaN,37.0,1.0,Hockey,2015-01-01,22:00:00,Sport
16,0,2015-01-01,3,2015,1,1,1,0,1,442639,...,Vancouver,2015-01-01,2015-01-01,NaN,38.0,1.0,New Year's Day,2015-01-01,NaN,Public Holiday
17,0,2015-01-01,3,2015,1,1,1,0,1,442639,...,Denver,2015-01-01,2015-01-01,NaN,39.0,1.0,New Year's Day,2015-01-01,NaN,Public Holiday
18,0,2015-01-01,3,2015,1,1,1,0,1,443601,...,Vancouver,2015-01-01,2015-01-01,NaN,37.0,1.0,Hockey,2015-01-01,22:00:00,Sport
19,0,2015-01-01,3,2015,1,1,1,0,1,443601,...,Vancouver,2015-01-01,2015-01-01,NaN,38.0,1.0,New Year's Day,2015-01-01,NaN,Public Holiday
20,0,2015-01-01,3,2015,1,1,1,0,1,443601,...,Denver,2015-01-01,2015-01-01,NaN,39.0,1.0,New Year's Day,2015-01-01,NaN,Public Holiday
21,0,2015-01-01,3,2015,1,1,1,0,1,443739,...,Vancouver,2015-01-01,2015-01-01,NaN,37.0,1.0,Hockey,2015-01-01,22:00:00,Sport
22,0,2015-01-01,3,2015,1,1,1,0,1,443739,...,Vancouver,2015-01-01,2015-01-01,NaN,38.0,1.0,New Year's Day,2015-01-01,NaN,Public Holiday
23,0,2015-01-01,3,2015,1,1,1,0,1,443739,...,Denver,2015-01-01,2015-01-01,NaN,39.0,1.0,New Year's Day,2015-01-01,NaN,Public Holiday
24,0,2015-01-01,3,2015,1,1,1,0,1,446302,...,Vancouver,2015-01-01,2015-01-01,NaN,37.0,1.0,Hockey,2015-01-01,22:00:00,Sport
25,0,2015-01-01,3,2015,1,1,1,0,1,446302,...,Vancouver,2015-01-01,2015-01-01,NaN,38.0,1.0,New Year's Day,2015-01-01,NaN,Public Holiday
26,0,2015-01-01,3,2015,1,1,1,0,1,446302,...,Denver,2015-01-01,2015-01-01,NaN,39.0,1.0,New Year's Day,2015-01-01,NaN,Public Holiday
27,0,2015-01-01,3,2015,1,1,1,0,1,446752,...,Vancouver,2015-01-01,2015-01-01,NaN,37.0,1.0,Hockey,2015-01-01,22:00:00,Sport
28,0,2015-01-01,3,2015,1,1,1,0,1,446752,...,Vancouver,2015-01-01,2015-01-01,NaN,38.0,1.0,New Year's Day,2015-01-01,NaN,Public Holiday
29,0,2015-01-01,3,2015,1,1,1,0,1,446752,...,Denver,2015-01-01,2015-01-01,NaN,39.0,1.0,New Year's Day,2015-01-01,NaN,Public Holiday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
821746,1095,2017-12-31,6,2017,12,31,52,1,1,944980,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport
821747,1095,2017-12-31,6,2017,12,31,52,1,1,944982,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport
821748,1095,2017-12-31,6,2017,12,31,52,1,1,944985,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport
821749,1095,2017-12-31,6,2017,12,31,52,1,1,945697,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport
821750,1095,2017-12-31,6,2017,12,31,52,1,1,945702,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport
821751,1095,2017-12-31,6,2017,12,31,52,1,1,945704,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport
821752,1095,2017-12-31,6,2017,12,31,52,1,1,945710,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport
821753,1095,2017-12-31,6,2017,12,31,52,1,1,945711,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport
821754,1095,2017-12-31,6,2017,12,31,52,1,1,945712,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport
821755,1095,2017-12-31,6,2017,12,31,52,1,1,945717,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport
821756,1095,2017-12-31,6,2017,12,31,52,1,1,945727,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport
821757,1095,2017-12-31,6,2017,12,31,52,1,1,945729,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport
821758,1095,2017-12-31,6,2017,12,31,52,1,1,945732,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport
821759,1095,2017-12-31,6,2017,12,31,52,1,1,945733,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport
821760,1095,2017-12-31,6,2017,12,31,52,1,1,945734,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport
821761,1095,2017-12-31,6,2017,12,31,52,1,1,945737,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport
821762,1095,2017-12-31,6,2017,12,31,52,1,1,945739,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport
821763,1095,2017-12-31,6,2017,12,31,52,1,1,946474,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport
821764,1095,2017-12-31,6,2017,12,31,52,1,1,946476,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport
821765,1095,2017-12-31,6,2017,12,31,52,1,1,946484,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport
821766,1095,2017-12-31,6,2017,12,31,52,1,1,946486,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport
821767,1095,2017-12-31,6,2017,12,31,52,1,1,946489,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport
821768,1095,2017-12-31,6,2017,12,31,52,1,1,946491,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport
821769,1095,2017-12-31,6,2017,12,31,52,1,1,946492,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport
821770,1095,2017-12-31,6,2017,12,31,52,1,1,946494,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport
821771,1095,2017-12-31,6,2017,12,31,52,1,1,946499,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport
821772,1095,2017-12-31,6,2017,12,31,52,1,1,946508,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport
821773,1095,2017-12-31,6,2017,12,31,52,1,1,946509,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport
821774,1095,2017-12-31,6,2017,12,31,52,1,1,946510,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport
821775,1095,2017-12-31,6,2017,12,31,52,1,1,946513,...,Denver,2017-12-31,2017-12-31,NaN,1477.0,1.0,Football,2017-12-31,16:25:00,Sport

In [76]:
final = df[['Date_key', 'eventKey', 'Crime_key', 'Location_key', 'Weather_key', 'stockKey', 'IS_FATAL', 'IS_TRAFFIC', 'Is_Nighttime']]
display(final)
final.to_csv('datasets/final/fact.csv', index=False)

,Date_key,eventKey,Crime_key,Location_key,Weather_key,stockKey,IS_FATAL,IS_TRAFFIC,Is_Nighttime
0,0,37.0,440785,NaN,1644.0,1095,0,0,1
1,0,38.0,440785,NaN,1644.0,1095,0,0,1
2,0,39.0,440785,NaN,1644.0,1095,0,0,1
3,0,37.0,440797,45411.0,1644.0,1095,0,0,1
4,0,38.0,440797,45411.0,1644.0,1095,0,0,1
5,0,39.0,440797,45411.0,1644.0,1095,0,0,1
6,0,37.0,440798,45411.0,1644.0,1095,0,0,1
7,0,38.0,440798,45411.0,1644.0,1095,0,0,1
8,0,39.0,440798,45411.0,1644.0,1095,0,0,1
9,0,37.0,440802,6929.0,1644.0,1095,0,0,0
10,0,38.0,440802,6929.0,1644.0,1095,0,0,0
11,0,39.0,440802,6929.0,1644.0,1095,0,0,0
12,0,37.0,441402,88379.0,1644.0,1095,0,0,1
13,0,38.0,441402,88379.0,1644.0,1095,0,0,1
14,0,39.0,441402,88379.0,1644.0,1095,0,0,1
15,0,37.0,442639,55635.0,1644.0,1095,0,0,1
16,0,38.0,442639,55635.0,1644.0,1095,0,0,1
17,0,39.0,442639,55635.0,1644.0,1095,0,0,1
18,0,37.0,443601,89512.0,1644.0,1095,0,0,1
19,0,38.0,443601,89512.0,1644.0,1095,0,0,1
20,0,39.0,443601,89512.0,1644.0,1095,0,0,1
21,0,37.0,443739,NaN,1644.0,1095,0,0,1
22,0,38.0,443739,NaN,1644.0,1095,0,0,1
23,0,39.0,443739,NaN,1644.0,1095,0,0,1
24,0,37.0,446302,36111.0,1644.0,1095,0,0,0
25,0,38.0,446302,36111.0,1644.0,1095,0,0,0
26,0,39.0,446302,36111.0,1644.0,1095,0,0,0
27,0,37.0,446752,NaN,1644.0,1095,0,0,1
28,0,38.0,446752,NaN,1644.0,1095,0,0,1
29,0,39.0,446752,NaN,1644.0,1095,0,0,1
...,...,...,...,...,...,...,...,...,...
821746,1095,1477.0,944980,226368.0,NaN,0,0,0,1
821747,1095,1477.0,944982,106672.0,NaN,0,0,0,1
821748,1095,1477.0,944985,NaN,NaN,0,0,0,1
821749,1095,1477.0,945697,226508.0,NaN,0,0,0,1
821750,1095,1477.0,945702,NaN,NaN,0,0,0,1
821751,1095,1477.0,945704,NaN,NaN,0,0,0,1
821752,1095,1477.0,945710,190060.0,NaN,0,0,0,1
821753,1095,1477.0,945711,NaN,NaN,0,0,0,1
821754,1095,1477.0,945712,133642.0,NaN,0,0,0,1
821755,1095,1477.0,945717,NaN,NaN,0,0,0,1
821756,1095,1477.0,945727,NaN,NaN,0,0,0,1
821757,1095,1477.0,945729,109665.0,NaN,0,0,0,1
821758,1095,1477.0,945732,125291.0,NaN,0,0,0,1
821759,1095,1477.0,945733,NaN,NaN,0,0,0,1
821760,1095,1477.0,945734,226516.0,NaN,0,0,0,1
821761,1095,1477.0,945737,107971.0,NaN,0,0,1,1
821762,1095,1477.0,945739,108121.0,NaN,0,0,0,1
821763,1095,1477.0,946474,NaN,NaN,0,0,0,1
821764,1095,1477.0,946476,225925.0,NaN,0,0,0,1
821765,1095,1477.0,946484,NaN,NaN,0,0,0,1
821766,1095,1477.0,946486,NaN,NaN,0,0,1,1
821767,1095,1477.0,946489,NaN,NaN,0,0,1,1
821768,1095,1477.0,946491,154683.0,NaN,0,0,0,1
821769,1095,1477.0,946492,NaN,NaN,0,0,0,1
821770,1095,1477.0,946494,106168.0,NaN,0,0,0,1
821771,1095,1477.0,946499,132350.0,NaN,0,0,0,1
821772,1095,1477.0,946508,117772.0,NaN,0,0,0,1
821773,1095,1477.0,946509,NaN,NaN,0,0,0,1
821774,1095,1477.0,946510,NaN,NaN,0,0,0,1
821775,1095,1477.0,946513,NaN,NaN,0,0,1,1